.apartments.col-lg-12
  .row
    - @apartments.each do |apartment|
      .col-lg-6
        .apartment.panel.panel-default
          .panel-body
            .row
              - if apartment.image && apartment.image.image_stored?
                = image_tag apartment.image.image.thumb('201x134#').url, class: 'img-responsive col-lg-5 media-object'
              .col-lg-7
                %p.lead
                  <strong>#{apartment.name}</strong> Apartment<br />
                  <small>#{apartment.address.street}, #{apartment.address.city}</small>
                .row
                  .col-lg-12
                    = link_to 'Edit', edit_apartment_path(apartment), class: 'btn btn-primary', role: 'button'
                    = link_to 'Delete', apartment, method: 'delete', 'data-confirm' => 'Are you sure?', class: 'btn btn-danger', role: 'button'
