!!! 5
%html
  %head
    %title Apabook
    = stylesheet_link_tag :application, media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag :application, data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    = render 'header'
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name)
      = yield
